{{define "editar"}}
{{template "cabecera"}}

<div class="card">

    <div class="card-header"> Estudiantes </div>
    <div class="card-body">
        <form method = "post" action="/actualizar">


         <input type="hidden" value={{.Id}} class="form-control" name="id" id="id" placeholder="">


        <div class="form-group">

        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text"
            class="form-control" name="nombre" value={{.Nombre}} id="nombre" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Escribe el nombre</small>
        </div>

        <div class="form-group">
          <label for="">Cuenta</label>
          <input type="text"
            class="form-control" name="cuenta" value={{.Cuenta}} id="cuenta" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Escribe numero de cuenta</small>
        </div>

        <div class="form-group">
          <label for="">Asignatura</label>
          <input type="text"
            class="form-control" name="asignatura" value={{.Asignatura}} id="asignatura" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Nombre de la asignatura/small>
        </div>

        <div class="form-group">
          <label for="">Parcial_1</label>
          <input type="text"
            class="form-control" name="parcial1" value={{.Parcial_1}} id="parcial1" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Nota primer parcial</small>
        </div>
        <div class="form-group">
          <label for="">Parcial_2</label>
          <input type="text"
            class="form-control" name="parcial2" value={{.Parcial_2}} id="parcial2" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Nota segundo parcial</small>
        </div>
        <div class="form-group">
          <label for="">Parcial_3</label>
          <input type="text"
            class="form-control" name="parcial3" value={{.Parcial_3}} id="parcial3" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Nota tercer parcial</small>
        </div>

        <div class="form-group">
          <label for="">NotaFinal</label>
          <input type="text"
            class="form-control" name="notafinal" value={{.NotaFinal}} id="notafinal" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Ingrese nota final</small>
        </div>

        <div class="form-group">
          <label for="">Correo</label>
          <input type="text"
            class="form-control" name="correo" value={{.Correo}} id="correo" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Escribe su correo</small>
        </div>

        <button type="submit" class="btn btn-success">Modificar estudiante</button>
        <a name="" id="" class="btn btn-primary" href="/" role="button">Cancelar</a>
        </form>
    </div>

</div>
{{template "pie"}}
{{end}}
