{{define "principal"}}
{{template "cabecera"}}

<br/>
<br/>

  <div class="row">
    <div class="col-sm-4">
      <h2>Sobre MM 520</h2>
      <br/>
     <div >
       <img src="https://wallpaperaccess.com/full/3723839.jpg"
        alt="Imagen" style="width:350px;height:300px;">
      </div>

      <p>La programación comercial se refiere a la creación de software o aplicaciones con fines comerciales, es decir, con el objetivo de generar beneficios económicos. En este contexto, la programación comercial implica el desarrollo de productos o servicios informáticos que se comercializan y venden a los usuarios o clientes.</p>
      <br/>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Github MM 520</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/hmolinaa/ProyectoComercial">Github hmolinaa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/iyhr87/Programacion-Comercial">Github de la clase</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Envio de calificaciones a estudiantes</h2>
      <br/>
      <div >
      <img
        src="https://wallpaperaccess.com/full/1262277.jpg"
        alt="Imagen" style="width:700px;height:300px;">
      </div>
      <br/>
      <h5>Sobre lo que trata mi proyecto</h5>
      <p>Un profesor tiene una cuadro de calificaciones finales de sus estudiantes.
      El profesor desea enviar un mensaje de correo electronico personalizado a cada estudiante donde se detalle
      las calificaciones parciales y las calificaciones finales.
      Elabore un sistema web que cumpla con dicha tarea. </p>
        <ul class="list-group list-group-flush">
             <li class="list-group-item">1. Crear una lista de correos</li>
             <li class="list-group-item">2. Componer el correo electrónico</li>
             <li class="list-group-item">3. Personalizar el mensaje</li>
             <li class="list-group-item">4. Enviar el correo electrónico</li>
        </ul>

    </div>
  </div>

  <br/>



</div>

{{template "pie"}}
{{end}}